<AuthorizeView>
    <Authorized>
        <MudText Typo="Typo.subtitle1" >Hello, @context.User.Identity?.Name!</MudText>
        <MudButton  Href="MicrosoftIdentity/Account/SignOut"
                    Target="_blank"
                    Variant="Variant.Filled"
                    Color="Color.Warning">Logout</MudButton>
        
    </Authorized>
    <NotAuthorized>
        <MudButton  Href="MicrosoftIdentity/Account/SignIn"
                    Target="_blank"
                    Variant="Variant.Filled"
                    Color="Color.Success">Login</MudButton>
        <a href="">Log in</a>
    </NotAuthorized>
</AuthorizeView>
